<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:pass_home' %}">Каталог</a>
    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_create' %}">Добавить новый товар</a>
    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:pass_contacts' %}">Контакты</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link nav-link">Выйти</button>
                    </form>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">Регистрация</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>