{% extends 'catalog/base.html' %}

{% block title %}Skystore{% endblock %}

{% block header_title %}Характеристики продукта{% endblock %}

{% block header_subtitle %}{% endblock %}

{% block content %}
<div class="row text-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ product.purchase_price }} руб.</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>- Наименование: {{ product.name }}</li>
                    <li>- Описание: {{ product.description }}</li>
                    <li>- Изображение:
                        <div>
                            <img class="card-img-top" src="{{ product.image.url }}" width="350 vw"
                                 alt="{{ product.name }}">
                        </div>
                    </li>
                    <li>- Категория: {{ product.category }}</li>
                    <li>- Цена за покупку: {{ product.purchase_price }}</li>
                    <li>- Дата создания: {{ product.created_at }}</li>
                    <li>- Дата последнего изменения: {{ product.updated_at }}</li>
                </ul>
                <div class="col-md-12 align-items-center d-grid gap-0 row-gap-3">
                    <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-secondary">Редактировать</a>
                    <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
                    <a href="{% url 'catalog:pass_home' %}" class="btn btn-primary">Вернуться в Каталог</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}